html,
body {
  overflow: hidden;
  height: 100%;
  background-image: url('/static/resources/icon/background-trans-20.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 200px 200px;


}

.navbar {
    background-color: #293239;
    text-align: center;
    color:white;
}

.navbar-brand {
    color: white;
}

.rightNav li{
  margin-left: 10px;
}

.fa-navicon {
  color: white;
}



#canvas {
    height: -o-calc(100% - 60px); /* opera */
    height: -webkit-calc(100% - 60px); /* google, safari */
    height: -moz-calc(100% - 60px); /* firefox */
}

.highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: #56B228 !important;
}

.done:not(.djs-connection) .djs-visual > :nth-child(1) {
    fill: #b0b0b0 !important;
  }

/* .botui-container {
      position: relative
  }
  
  .botui-messages-container {
      position: absolute;
      width: 100%;
      bottom: 0;
  } */

.botui-message-content {
  word-wrap: break-word;

  background-color: white;
  box-shadow: 0px 0px 6px #b2b2b2;
  -webkit-border-radius: 20px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius: 20px;
  -moz-border-radius-bottomleft: 10px;
  border-radius: 20px;
  border-bottom-left-radius: 10px;
}

.botui-message-content.human {
  background-color: #56B228;

  -webkit-border-radius: 20px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius: 20px;
  -moz-border-radius-bottomright: 10px;
  border-radius: 20px;
  border-bottom-right-radius: 10px;
}

.button-container {
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

/* CHAT */
/* ---------- GENERAL ---------- */

.fabs {
  bottom: 0;
  position: fixed;
  margin-right: 1em;
  margin-bottom: 1em;
  right: 0;
  z-index: 998;
}

#prime {
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  text-align: center;
  color: #f0f0f0;
  margin: 25px auto 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  position: relative;
  z-index: 998;
  overflow: auto;
  background: #293239;
}

#prime > i {
  color: white;
  font-size: 2em;
  line-height: 55px;
  -webkit-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

h4,
h5 {
  line-height: 1.5em;
  margin: 0;
}

hr {
  background: #e9e9e9;
  border: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
  margin: 0;
  min-height: 1px;
}

img {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
}

input {
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
  margin: 0;
}

p {
  margin: 0;
}

.clearfix {
  *zoom: 1;
} /* For IE 6/7 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* ---------- LIVE-CHAT ---------- */

.chat {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}


#live-chat {
  margin-right: -1em;
  max-width: 90%;
  margin-bottom: 1em;
  z-index: 999;
  /* background-color: white; */
  bottom: 0;
  font-size: 12px;
  right: 24px;
  position: fixed;
  width: 400px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

#live-chat header {
  background: #293239;
  border-radius: 5px 5px 0 0;
  color: #fff;
  padding: 16px 24px 16px 11px;
}

#live-chat h4:before {
  background: #1a8a34;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 8px 0 0;
}

#live-chat h4 {
  font-size: 14px;
}

.chat-close {
  background: #293239;
  border-radius: 50%;
  color: #fff;
  display: block;
  float: right;
  font-size: 20px;
  height: 16px;
  line-height: 16px;
  margin: 2px 0 0 0;
  text-align: center;
  width: 16px;
}

.chat-close:hover {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.chat_field {
  background: white;
  display: flex;
  width: 100%;
  border-top: 1px solid #eee;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#chat_send {
  color: #555555;
  margin: 5px;
  margin-right: 20px;
  font-size: 22px;
  cursor: pointer;

}

#chat_send:hover{
  color:black;
  font-size: 25px;
  margin-top: 1px;
  /* webkit-transform: rotate(-45eg);
  transform: rotate(-45deg);
  transition: transform 0.2s;
  cursor: pointer; */
}

/* #chat_send:active {
  transform: rotate(0deg);
  transition: transform 0.2s;
} */


#InputField {
  z-index: 999;
  border: none;
  background: none;
}

#InputField::placeholder {
  color:#555555;
}

#InputField:hover::placeholder {
  color:black;
}


#InputField:focus {
  border-color: none;
  box-shadow: none;
}
.InputField-inactive::placeholder {
  opacity: 0.1;
}

.botui-app-container {
    height:auto;
    min-height:30px;
    max-height: 500px;
    height:auto !important;        /* for IE as it does not support min-height */
    height:30px;      
}

.bjs-powered-by{
    right:0px !important;
    left: 15px;
    width: 52px;
}


.disable-me {
  pointer-events: none !important;
  opacity: 0.1;
}

.botui-actions-container {
  padding-top: 0px !important;
}

.botui-messages-container {
  padding-bottom: 0px !important;
}

.wrapper-div {
  width: 100%;
}

.tooltip-arrow,
.red-tooltip + .tooltip > .tooltip-inner {
  background-color: #293239;
}

button.botui-actions-buttons-button {
  background-color: #56B228;
  /* box-shadow: 0px 0px 6px #b2b2b2; */
}

.cancelButton {
  background-color:red !important;
}

.tooltip-inner{
  background-color: #293239;
}

.pheader1{
  border-bottom: 1px solid #293239;
  font-weight: bold;
}

.pheader2{
  font-weight: bold;
  border-bottom: 1px solid #293239;
  padding-top: 10px;
}

.node-instruction-current {
  width: 100%;
  font-style: italic;
}

.arrow_box_highlight {
  word-break: break-word;
  z-index: 500;
  font-family: Arial, sans-serif;
  font-size: 12px;
  fill: black;
  border-radius:10px;
  padding: 5px;
  text-align: center;
	position: relative;
	background: #ffffff;
	border: 2px solid #008000;
}
.arrow_box_highlight:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_highlight:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #008000;
	border-width: 8px;
	margin-left: -8px;
}
.arrow_box_highlight:before {
	border-color: rgba(0, 128, 0, 0);
	border-bottom-color: #008000;
	border-width: 8px;
	margin-left: -8px;
}

.arrow_box {
  word-break: break-word;
  z-index: 501;
  font-family: Arial, sans-serif;
  font-size: 12px;
  fill: black;
  border-radius:10px;
  padding: 5px;
  text-align: center;
	position: relative;
	background: #ffffff;
	border: 2px solid #293239;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #293239;
	border-width: 8px;
	margin-left: -8px;
}
.arrow_box:before {
	border-color: rgba(0, 128, 0, 0);
	border-bottom-color: #293239;
	border-width: 8px;
	margin-left: -8px;
}

.hidden {
  display:none;
}

.custom-control-input:checked~.custom-control-label::before {
  background-color: #008000;
  border-color: #008000;
}

#toast-wrapper {
  left: 0px !important;
  margin-top: 60px;
}

.bg-info {
  background-color: #4683B2 !important;
}

.bg-success {
  background-color: #1a8a34 !important;
}

#updateBadge, #importBadge {
  background-color: #008000 !important;
}

.nav-left .nav-item {
  margin-right: 5px;
}

.dropdown-menu {
  z-index: 9999;
}

.dropdown-menu-title {
  padding-bottom: 5px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  margin: 0 10px 0 10px;
}

.dropdown-menu-text {
  margin: 10px;
}

.botui-message-content-link {
  color: #008000;
}