<!DOCTYPE html>
<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" 
      type="image/png" 
      href="{{ url_for('static', filename='resources/icon/favicon.png') }}">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/toast/toast.min.css') }}"
      crossorigin="anonymous"
    />


    <!-- BotUi CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/botui/botui.min.css') }}"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/botui/botui-theme-default.css') }}"
      crossorigin="anonymous"
    />

    <!-- own Style -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dialog.css') }}"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/animate/animate.min.css') }}"
      crossorigin="anonymous"
    />
    <!-- Icons -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/fontawesome/all.min.css') }}"
      crossorigin="anonymous"
    />

    <title>Processbot</title>
  </head>

  <body>
    <!-- <nav class="navbar">
      <span class="navbar-brand mb-0 h1">Processbot Demo</span>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="overlaySwitch">
        <label class="custom-control-label" for="overlaySwitch">Overlays</label>
      </div>
    </nav> -->

    <nav class="navbar navbar-expand-md">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <div class="dropdown">
                      <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Updates
                        <span id="updatesBadge" class="badge badge-pill badge-secondary"></span>

                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 300px !important">
                            <div class="row" style="margin-bottom: 2px">
                                <div class="col-6 text-center">
                                  <a class="align-middle">Reisekosten 1</a>
                                </div>
                                <div class="col-6 text-center">
                                  <button class="btn btn-sm btn-success" id="bpmnStatus" type="submit">Update</button>      
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 text-center">
                                  <a class="align-middle">Reisekosten 2</a>
                                </div>
                                <div class="col-6 text-center">
                                  <button class="btn btn-sm btn-success" id="bpmnStatus" type="submit">Update</button>      
                                </div>
                            </div>
                          
                      </div>
                    </div>
              </li>
          </ul>
      </div>
      <div class="mx-auto order-0">
          <a class="navbar-brand mx-auto">Processbot</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
              <i class="fa fa-navicon"></i>
          </button>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto rightNav">
              <!-- <li class="nav-item">
                  <button class="btn btn-sm btn-outline-secondary" id="toggleScreenOverlay" type="submit">Example</button>
              </li> -->
              <!-- <li class="nav-item">
                <button class="btn btn-sm btn-outline-secondary" id="bpmnStatus" type="submit">Status</button>
              </li> -->
              <!-- <li class="nav-item">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Updates 
                  <span id="updatesBadge" class="badge badge-pill badge-secondary"></span>

                </button>
              </li> -->
              <li class="nav-item">                
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="overlaySwitch">
                  <label class="custom-control-label" for="overlaySwitch">Overlays</label>
                </div>
              </li>
          </ul>
      </div>
  </nav>

    <div id="canvas"></div>


    <div class="fabs">
      <div id="live-chat">
        <header class="clearfix">
          <a href="#" class="chat-close">x</a>
          <h4>Processbot</h4>
        </header>
        <div id="my-botui-app" class="chat botui-app-container">
          <div class="chat-history">
            <bot-ui id="botui"></bot-ui>
          </div>
        </div>
        <div class="chat_field">
          <div class='wrapper-div' data-toggle="tooltip" title="Please click a button from above" data-placement="left" onmouseover="popoverInput()" onclick="popoverInput()">
            <input type="text" class="form-control" id="InputField" placeholder="Enter text"/>
          </div>
          <a id="chat_send" title="Some tooltip text!">
            <i class="fab fa-telegram-plane"></i>
          </a>
        </div>
      </div>
      <a id="prime">
        <i class="far fa-comment"></i>
      </a>
    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- habe sie von unten nach oben geholt weil es Probleme gab -->
    <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/toast/toast.js') }}"></script>


    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <!-- BPMN -->
    <script src="{{ url_for('static', filename='js/bpmnIO/bpmn-viewer.development.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bpmn.js') }}"></script>

    <!-- Botui -->
    <script src="{{ url_for('static', filename='js/vue/config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/botui/botui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/botui.js') }}"></script>

    <!-- index.js -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    <!-- dialog.js -->
    <script src="{{ url_for('static', filename='js/dialog.js') }}"></script>



  </body>
</html>
